apiVersion: v1
kind: Service
metadata:
  name: python-service
  labels:
    app: python-service
    service: python-service
spec:
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
  selector:
    app: python-service
  type: ClusterIP
