apiVersion: v1
kind: Service
metadata:
  name: java-service
  labels:
    app: java-service
    service: java-service
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: grpc
  selector:
    app: java-service
  type: ClusterIP
